<div class="container">
  <div class="row mb-3">
    <div class="col-md-12">
      <h1 class="text-primary text-left">Seccion de Inscripciones:</h1>
    </div>
    <div class="col-md-12">
      <!--El boton cargar tiene que llamar al componente inscripciones-form-->
      <button
        class="btn btn-primary btn-lg"
        [routerLink]="['/inscripciones-agregar']"
      >
        Cargar Inscripcion
      </button>
    </div>
  </div>

  <!--TOGGLE ALUMNOS-->
  <div class="row mb-3">
    <div class="col-md-6 col-xs-12 mb-2">
      <button
        class="btn btn-block text-white"
        [ngClass]="{'btn-warning': !alumnosCollapsed, 'btn-dark': alumnosCollapsed }"
        [disabled]="!cursosCollapsed"
        [attr.aria-expanded]="!alumnosCollapsed"
        (click)="alumnosCollapsed = !alumnosCollapsed"
        aria-controls="alumnosCollapse"
      >
        <span><i class="material-icons">account_circle</i> Alumnos</span>
      </button>
    </div>

    <!--TOGGLE CURSOS-->
    <div class="col-md-6 col-xs-12 mb-2">
      <button
        class="btn btn-block text-white"
        [ngClass]="{'btn-warning': !cursosCollapsed, 'btn-dark': cursosCollapsed }"
        [disabled]="!alumnosCollapsed"
        [attr.aria-expanded]="!cursosCollapsed"
        (click)="cursosCollapsed = !cursosCollapsed"
        aria-controls="cursosCollapse"
      >
        <span><i class="material-icons">assignment_ind</i> Cursos</span>
      </button>
    </div>
  </div>

  <!--ALUMNOS SECTION-->
  <div id="alumnosCollapse" [collapse]="alumnosCollapsed" [isAnimated]="false">
    <div class="row mb-3">
      <div class="col-md-12">
        <span class="alert alert-info" role="alert">
          Seccion alumnos
        </span>
      </div>
    </div>
  </div>

  <!--CURSOS SECTION-->
  <div id="cursosCollapse" [collapse]="cursosCollapsed" [isAnimated]="false">
    <div class="row mb-3">
      <div class="col-md-12">
        <span class="alert alert-info" role="alert">
          Seccion cursos
        </span>
      </div>
    </div>
  </div>

</div>
