<div class="container">
<div>
    <h1 class="text-primary">Carreras</h1>
</div>

<!-- COMBOBOX DE CARRERAS -->
<div class="form-group">
    <label class="control-label" for="comboCarreras">Seleccione una carrera:</label>
    <select class="form-control" id="comboCarreras" required name="comboCarreras" [ngModel]="carreraSeleccionada"
        [ngModelOptions]="{standalone: true}" (change)="cargarInfoCarrera($event)">
        <option value="0">--Seleccione una opcion--</option>
        <option *ngFor="let carrera of listaCarreras" [value]="carrera.codCarrera">
            {{carrera.nombre | uppercase}}
        </option>
    </select>
</div>

<!-- MUESTRA UNA TABLA DE MATERIAS EN BASE A LA OPCION SELECCIONADA EN EL COMBO -->
<div *ngIf="carreraSeleccionada == 0">
    <h3 class="text-info">No se ha seleccionado ninguna carrera</h3>
</div>

<div *ngIf="(!materiasPorCarrera || materiasPorCarrera.length == 0) && carreraSeleccionada">
    <h3 class="text-info">No existen materias cargadas para esta carrera</h3>
</div>

<div *ngIf="(materiasPorCarrera && materiasPorCarrera.length)">
    <table class="table table-hover table-striped">
        <thead class="thead thead-dark">
            <tr>
                <th scope="col">Codigo</th>
                <th scope="col">Materia</th>
                <th scope="col">Precio</th>
                <th colspan="2"></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let materia of materiasPorCarrera">
                <td>{{materia.codMateria}}</td>
                <td>{{materia.nombre}}</td>
                <td>{{materia.precio | currency}}</td>
                <td><button class="btn btn-danger" (click)="eliminarMateria(materia.codMateria)">Quitar</button></td>
            </tr>
        </tbody>
    </table>
</div>

<hr />

<div *ngIf="carreraSeleccionada && !sePuedeCargar">
    <span>
        <h3 class="text-info">Ya no quedan materias por agregar</h3>
    </span>
</div>


<div class="form-group" *ngIf="carreraSeleccionada && sePuedeCargar">
    <label for="comboDisponibles">Asigne una materia a la carrera: </label>
    <select class="form-control" id="comboDisponibles" required name="comboDisponibles" [ngModel]="materiaSeleccionada"
        [ngModelOptions]="{standalone: true}" (change)="getMateriaSeleccionada($event)">
        <option value="0">--Seleccione una opcion--</option>
        <option *ngFor="let materia of materiasDisponibles" [value]="materia.codMateria">
            {{materia.nombre | uppercase}}
        </option>
    </select>
    <div>
        <button class="btn btn-primary mt-2" [disabled]="!materiaSeleccionada" (click)="cargarMateria()">Cargar
            Materia</button>
    </div>
</div>
</div>