<div class="container">
  <div class="row mb-3">
    <div class="col pl-0 mb-1">
      <h1 class="text-primary text-left">Profesores</h1>
    </div>
    <div class="col-md-12 pl-0">
      <button
        class="btn btn-primary btn-lg"
        [routerLink]="['/profesores-agregar']"
      >
        Cargar Materia
      </button>
    </div>
  </div>

  <div *ngIf="!ListaProfesores || !ListaProfesores.length">
    <div class="row mb-3">
      <div class="col pl-0 mb-1">
        <h3 class="text-info">No existen materias cargadas</h3>
      </div>
    </div>
  </div>

  <div class="row">
    <table
      class="table table-striped text-center table-hover table-responsive"
      *ngIf="ListaProfesores && ListaProfesores.length"
    >
      <thead class="thead thead-dark">
        <tr>
          <th>ID</th>
          <th>Profesor</th>
          <th>DNI</th>
          <th>Fecha de Nacimiento</th>
          <th>Email</th>
          <th>Contacto</th>
          <th>Materia</th>
          <th colspan="2"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let profesor of ListaProfesores">
          <td>{{ profesor.profesorId }}</td>
          <td>{{ profesor.nombre + " " + profesor.apellido }}</td>
          <td>{{ profesor.nroDocumento }}</td>
          <td>{{ profesor.fechaDeNacimiento | date: "dd/MM/yyyy" }}</td>
          <td>{{ profesor.email }}</td>
          <td>
            {{ profesor.contacto ? profesor.contacto : "No se ha cargado" }}
          </td>
          <td>{{ profesor.materia.nombre }}</td>
          <td class="pt-1">
            <button
              tooltip="Eliminar"
              class="btn"
              (click)="eliminarProfesorValido(profesor.profesorId)"
            >
              <span class="material-icons text-danger">
                delete
              </span>
            </button>
          </td>
          <td class="pt-1">
            <button
              tooltip="Editar"
              class="btn"
              [routerLink]="['/profesores-editar/' + profesor.profesorId]"
            >
              <span class="material-icons text-success">
                edit
              </span>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
