<div class="modal-header">
  <h4 class="modal-title pull-left">{{ title }}</h4>
  <button
    type="button"
    class="close pull-right"
    aria-label="Close"
    (click)="modalForm.hide()"
  >
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<!--FORM BEGIN-->
<form
  class="form-horizontal"
  novalidate
  [formGroup]="formGroup"
  (submit)="guardarInscripcion()"
  autocomplete="off"
>
  <div class="modal-body">
    <!--LISTA ALUMNOS BEGIN-->
    <div class="form-group">
      <label class="col-md-6 control-label" for="alumnos">
        Seleccione un alumno: <span class="text-danger"> (*)</span>
      </label>
      <div class="col-12">
        <select
          class="form-control"
          formControlName="alumnos"
          (change)="getCursosDisponibles()"
        >
          <option [ngValue]="null">-- Seleccione un alumno --</option>
          <option
            [ngValue]="alumno.nroLegajo"
            *ngFor="let alumno of ListaAlumnos"
          >
            {{ alumno.nroLegajo }} |
            {{ alumno.nombre + " " + alumno.apellido | uppercase }}
          </option>
        </select>
        <span
          class="help-block"
          *ngIf="
            (formGroup.get('alumnos').touched ||
              formGroup.get('alumnos').dirty) &&
            !formGroup.get('alumnos').valid
          "
        >
          <span
            class="text-danger"
            *ngIf="formGroup.controls['alumnos'].hasError('required')"
          >
            El campo es requerido
          </span>
        </span>
      </div>
    </div>
    <!--LISTA ALUMNOS END-->


    <div class="col-12" *ngIf="!nroLegajo">
        <span class="text-info">No se ha seleccionado un alumno </span>
    </div>

    <!--SI SE SELECCIONO UN ALUMNO-->
    <div *ngIf="nroLegajo">

      <div class="col-12" *ngIf="!hayResultados">
        <span class="text-info">{{mensajeBusqueda}}</span>
      </div>

      <div *ngIf="hayResultados">
        <!--LISTA CURSOS DISPONIBLES BEGIN-->
        <div class="form-group">
          <label class="col-md-6 control-label" for="cursosDisponibles">
            Cursos disponibles: <span class="text-danger"> (*)</span>
          </label>
          <div class="col-12">
            <select class="form-control" formControlName="cursosDisponibles">
              <option [ngValue]="null">-- Seleccione un curso --</option>
              <option
                [ngValue]="curso.codCurso"
                *ngFor="let curso of ListaCursosDisponibles"
              >
                {{ curso.codCurso }} |
                {{ curso.profesor.materia.nombre | uppercase }} |
                {{
                  curso.profesor.nombre + " " + curso.profesor.apellido
                    | uppercase
                }}
              </option>
            </select>
            <span
              class="help-block"
              *ngIf="
                (formGroup.get('cursosDisponibles').touched ||
                  formGroup.get('cursosDisponibles').dirty) &&
                !formGroup.get('cursosDisponibles').valid
              "
            >
              <span
                class="text-danger"
                *ngIf="
                  formGroup.controls['cursosDisponibles'].hasError('required')
                "
              >
                El campo es requerido
              </span>
            </span>
          </div>
        </div>
        <!--LISTA CURSOS DISPONIBLES END-->

        <!--NOTA PRIMER PARCIAL BEGIN-->
        <div class="form-group">
          <label class="col-md-6 control-label-inline" for="notaPrimerParcial">
            Nota Primer Parcial:
          </label>
          <div class="col-12">
            <select class="form-control" formControlName="notaPrimerParcial">
              <option [ngValue]="null">-- Seleccione una nota --</option>
              <option [ngValue]="nota" *ngFor="let nota of notas">
                {{ nota }}
              </option>
            </select>
          </div>
        </div>
        <!--NOTA PRIMER PARCIAL END-->

        <!--NOTA PRIMER SEGUNDO BEGIN-->
        <div class="form-group">
          <label class="col-md-6 control-label-inline" for="notaSegundoParcial">
            Nota Segundo Parcial:
          </label>
          <div class="col-12">
            <select class="form-control" formControlName="notaSegundoParcial">
              <option [ngValue]="null">-- Seleccione una nota --</option>
              <option [ngValue]="nota" *ngFor="let nota of notas">
                {{ nota }}
              </option>
            </select>
          </div>
        </div>
        <!--NOTA PRIMER SEGUNDO END-->

        <!--NOTA PRIMER FINAL BEGIN-->
        <div class="form-group">
          <label class="col-md-6 control-label-inline" for="notaFinal">
            Nota Final:
          </label>
          <div class="col-12">
            <select class="form-control" formControlName="notaFinal">
              <option [ngValue]="null">-- Seleccione una nota --</option>
              <option [ngValue]="nota" *ngFor="let nota of notas">
                {{ nota }}
              </option>
            </select>
          </div>
        </div>
        <!--NOTA PRIMER FINAL END-->

        <!--FECHA INSCRIPCION BEGIN-->
        <div
          class="form-group"
          [ngClass]="{
            'has-error':
              formGroup.get('fechaInscripcion').touched ||
              (formGroup.get('fechaInscripcion').dirty &&
                !formGroup.get('fechaInscripcion').valid)
          }"
        >
          <label class="col-md-6 control-label" for="fechaInscripcion"
            >Fecha de Inscripcion:<span class="text-danger"> (*)</span></label
          >

          <div class="col-md-6">
            <input
              class="form-control"
              id="fechaInscripcion"
              type="date"
              required
              formControlName="fechaInscripcion"
            />

            <span
              class="help-block"
              *ngIf="
                formGroup.get('fechaInscripcion').touched ||
                (formGroup.get('fechaInscripcion').dirty && formGroup.valid)
              "
            >
              <span
                class="text-danger"
                *ngIf="formGroup.get('fechaInscripcion').errors?.required"
              >
                El campo es requerido
              </span>
            </span>
          </div>
        </div>
        <!--FECHA INSCRIPCION END-->

      </div>
    </div>


  </div>
  <div class="modal-footer">
    <button
      type="submit"
      class="btn btn-md rounded-pill"
      [disabled]="!formGroup.valid || formGroup.pristine"
      [ngClass]="{
        'btn-dark': formGroup.pristine || !formGroup.valid,
        'btn-primary': formGroup.valid
      }"
    >
      Guardar
    </button>
    <button type="button" class="btn btn-default" (click)="modalForm.hide()">
      Cerrar
    </button>
  </div>
</form>
<!--FORM END-->

<!-- TEST MODAL
  <ul>
    <li>Titulo: {{ title }}</li>
    <li>Modo Edicion?: {{ modoEdicion }}</li>
    <li>Legajo: {{ nroLegajo? nroLegajo: 'Valor nulo' }}</li>
    <li>CodCurso: {{ codCurso? codCurso: 'Valor nulo'}}</li>
    <li>Hay cursos cargados?: {{ ListaCursos?.length? 'SI':'NO' }}</li>    
    <li>Hay materias disponibles?: {{ ListaMateriasDisponibles.length? 'SI':'NO' }}</li>    
    <li>Hay cursos disponibles?: {{ ListaCursosDisponibles.length? 'SI':'NO' }}</li>    
  </ul> -->

<!-- [disabled]="
    formGroup.pristine || !formGroup.valid || !ListaCursosDisponibles.length
  " -->
