<!-- Modal-->
  <div class="modal-content bg-dark border border-dark rounded-0 text-light">
    <div class="modal-header border-bottom-0">
      <h4 class="modal-title pull-left"><strong>{{ title | uppercase}}</strong></h4>
      <button
        type="button"
        class="close pull-right"
        aria-label="Close"
        (click)="bsModalRef.hide()"
      >
        <span class="text-warning" aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body text-center">
      {{ mensajeError | uppercase}}
    </div>
    <div class="modal-footer border-top-0">
      <button type="button" class="btn btn-dark" (click)="modalError.hide()">
        <span class="text-light">Cerrar</span>
      </button>
    </div>
  </div>


