<!--Header-->
<div style="height: 215px;" class="container-fluid bg-info mt-custom">
  <div class="row h-100">
    <div class="col-lg-12">
      <h1 class="display-4 text-white text-center mt-5 mb-2">
        INSTITUTO ISTEA
      </h1>
    </div>
  </div>
</div>

<!--Page content-->
<div class="container mt-4 pt-2">
  <div class="row">
    <div class="col-md-8 mb-5">
      <h2>Noticias</h2>
      <hr />
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. A deserunt
        neque tempore recusandae animi soluta quasi? Asperiores rem dolore eaque
        vel, porro, soluta unde debitis aliquam laboriosam. Repellat explicabo,
        maiores!
      </p>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis optio
        neque consectetur consequatur magni in nisi, natus beatae quidem quam
        odit commodi ducimus totam eum, alias, adipisci nesciunt voluptate.
        Voluptatum.
      </p>
      <a class="btn btn-primary btn-lg rounded-pill" href="#">Ver más &raquo;</a>
    </div>
    <div class="col-md-4 mb-5">
      <h2>Contacto</h2>
      <hr />
      <address>
        <strong>Start Bootstrap</strong>
        <br />3481 Melrose Place <br />Beverly Hills, CA 90210
        <br />
      </address>
      <address>
        <abbr title="Phone">P:</abbr>
        (123) 456-7890
        <br />
        <abbr title="Email">E:</abbr>
        <a href="mailto:#">name@example.com</a>
      </address>
    </div>
  </div>
</div>
