<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron mt-custom background text-white">
  <div class="container">
    <h1 class="display-3 text-center bienvenida">INSTITUTO ISTEA</h1>
  </div>
</div>

<!-- Page content -->
<div class="container mt-4 pt-2">
  <div class="row">
    <div class="col-md-8 mb-5">
      <h2>Noticias</h2>
      <hr />
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. A deserunt
        neque tempore recusandae animi soluta quasi? Asperiores rem dolore eaque
        vel, porro, soluta unde debitis aliquam laboriosam. Repellat explicabo,
        maiores!
      </p>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis optio
        neque consectetur consequatur magni in nisi, natus beatae quidem quam
        odit commodi ducimus totam eum, alias, adipisci nesciunt voluptate.
        Voluptatum.
      </p>
      <a class="btn btn-primary rounded-pill" href="#">Ver más &raquo;</a>
    </div>
    <div class="col-md-4 mb-5">
      <h2>Contacto</h2>
      <hr />
      <address>
        <strong>Dirección:</strong>
        <br />Lavalle 648<br />CABA
        <br />
      </address>
      <address>
        <span title="Phone"><strong>Tel: </strong></span>
        0810-220-8148
        <br />
        <span title="Email"><strong>Email: </strong></span>
        <a href="mailto:#">secretaria@istea.com</a>
      </address>
    </div>
  </div>
</div>
