<!--LISTA ALUMNOS-->
<div class="row mb-3">
  <div class="col-md-6 pl-0">
    <form [formGroup]="formGroup">
      <div class="form-group">
        <label class="col-md-6 control-label" for="alumnos">
          Seleccione un alumno:
        </label>
        <div class="col-md-8">
          <select
            class="form-control"
            formControlName="alumnos"
            (change)="obtenerInscripciones()"
          >
            <option [ngValue]="null">-- Seleccione un alumno --</option>
            <option
              [ngValue]="alumno.nroLegajo"
              *ngFor="let alumno of ListaAlumnos"
            >
              {{ alumno.nroLegajo }} |
              {{ alumno.nombre + " " + alumno.apellido }}
            </option>
          </select>
        </div>
      </div>
    </form>
  </div>
</div>

<div *ngIf="!alumnoSeleccionado">
  <h3 class="text-info">
    No se ha seleccionado un alumno.
  </h3>
</div>

<!--TABLA INSCRIPCIONES-->

<div class="row mb-3" *ngIf="alumnoSeleccionado">
  <div class="col col-xs-12">
    <div *ngIf="!InscripcionesAlumno || !InscripcionesAlumno.length">
      <h3 class="text-info">No existen inscripciones registradas.</h3>
    </div>

    <div *ngIf="InscripcionesAlumno && InscripcionesAlumno.length">
      <table class="table table-striped table-hover table-responsive">
        <thead class="thead thead-dark">
          <tr class="text-center">
            <th>Curso</th>
            <th>Primer Parcial</th>
            <th>Segundo Parcial</th>
            <th>Final</th>
            <th>Fecha Inscripcion</th>
            <th colspan="2"></th>
          </tr>
        </thead>
        <tbody>
          <tr class="text-center" *ngFor="let insc of InscripcionesAlumno">
            <td>{{ insc.codCurso }}</td>
            <td>
              {{
                insc.notaPrimerParcial ? insc.notaPrimerParcial : "No cargado"
              }}
            </td>
            <td>
              {{
                insc.notaSegundoParcial ? insc.notaSegundoParcial : "No cargado"
              }}
            </td>
            <td>
              {{ insc.notaFinal ? insc.notaFinal : "No cargado" }}
            </td>
            <td>{{ insc.fechaInscripcion | date: "dd/MM/yyyy" }}</td>
            <td>
              <button
                class="btn"
                placement="top"
                tooltip="Eliminar"
                (click)="eliminarInscripcion(insc.codCurso, insc.nroLegajo)"
              >
                <span class="material-icons text-danger">
                  delete
                </span>
              </button>
            </td>
            <td>
              <button
                class="btn"
                placement="top"
                tooltip="Editar"
                [routerLink]="['/']"
              >
                <span class="material-icons text-success">
                  edit
                </span>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
